body {
    background-color: #441E13;
    color: white;
}

div {
    outline: 1px solid yellow;
}

.logoContainer {
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    overflow: hidden;
}

.logo {
    width: 205px;
    float: left;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
}

.slogan {
    width: 380px;
    float: left;
    color: #a37b71;
    font-family: sans-serif;
    font-size: 0.9rem;
    margin-top: 18px;
}

.nav {
    background-color: rgba(0,0,0,0.25);
    height: 62px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    max-width: 920px;
}

.nav ol {
    padding: 18px 10px
}

.nav li {
    border-right: 1px solid #D4b364;
    display: block;
    float: left;
    font-family: sans-serif;
    padding: 6px 20px;
    
}

.aboutSection {
    background-color: #87A984;
    height: 212px;
    max-width: 920px;
    margin: auto;
    margin-top: 5px;
}

.paperAir {
    height: 140px;
    padding: 20px;
    float: left;
    margin: 10px
}

.about {
    width: 450px;
    float: left;
}

h2 {
    width: 205px;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
}

p {
    font-family: sans-serif;
}


.weWork {
    max-width: 920px;
    height: 615px;
    margin: auto;
    overflow: hidden;
}

.links {
    background-color: #96AFAC;
    float: left;
    width: 30%;
    height: 100%;
}

.howWeWork {
    background-color: #DBD8C5;
    color: #556E7A;
    float: left;
    width: 70%;
    height: 100%;
    overflow: hidden;
}

@media (max-width: 682px) { 
    img {
        display: none;
    }
}
