div {
    border: 1px solid lime
}

.container {
    width: 80%;
    max-width: 920px;
    margin: auto;
}

.header {
    background-color: blue;
    height: 200px;
    width: 100%;
}

.sidebar {
    background-color: red;
    width: 30%;
    height: 1000px;
    float: left;
}

.content {
    background-color: green;
    width: 69%;
    height: 1000px;
    float: left;
}