@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

.content {
    margin-right: auto;
    margin-left: auto;
    max-width: 1500px;
}

.introText {
    width: 100%;
    max-width: 500px;
    height: 292px;
    float: left;
    text-align: right;
    margin: 20px;

}

.introText h1 {
    font-family: Bree Serif;
    font-size: 40px;
}

.introText p {
    font-family: Lato;
    font-size: 16px;
}

.articles {
    width: 100%;
    max-width: 760px;
    height: 1000px;
    float: left;  
    padding: 20px;
}

.featuredPost1 {
    width: 445px;
    float: left;
    margin-right: 15px;
}

.featuredPost2 {
    width: 283px;
    float: left;
}

.imgContainer {
    position: relative;
    text-align: left;
    color: white;
    height: 245px;
    overflow: hidden;
}

img {
    width: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
}
.blogTitle {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: white;
    font-family: Bree Serif;
    font-size: 20px;
}

.textContainer {
    font-size: 14px;
    font-family: Lato;
    padding: 0px 20px 10px 20px;
}

.articleDateText {
    color: #9B9B9B
}

.moreReading {
    font-size: 20;
    font-family: Bree Serif;
    float: left;
    max-width: 600px;
    width: 100%;
    margin-bottom: 30px;
}

.smallArticle {
    width: 285px;
    height: 150px;
    float: left;
    margin-right: 15px;
    margin-top: 15px;
}

.largeArticle {
    width: 445px;
    height: 150px;
    float: left;
    margin-right: 15px;
    margin-top: 15px;
}

.imgContainer .articleDateText {
    position: absolute;
    margin-bottom: 10px;
    left: 20px;
    right: 20px;
    color: white;
    font-family: Lato;
    font-size: 12px;
}

.smallArticle .blogTitle {
    font-size: 18px;
}

.smallArticle .imgContainer {
    height: 150px;
}

.largeArticle .imgContainer {
    height: 150px;
}