.container {
    width: 920px;
    margin: auto;
}

.header {
    background-color: blue;
    height: 200px;
    width: 100%;
}

.greencontainer {
    background-color: green;
    height: 190px;
    width: 920px;
}

.yellowGreenBox {
    background-color: yellow;
    width: 430px;
    height: 150px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}

.redcontainer {
    background-color: red;
    height: 400px;
    width: 920px;
    
}

.yellowBox {
    background-color: yellow;
    width: 430px;
    height: 360px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}

.footer {
    background-color: green;
    height: 200px;
    width: 100%;
    float: left;
}